<!DOCTYPE html>
<html lang="en">
<head>

<title> GOBarber</title>
<link rel="stylesheet" href="styles.css" />
</head>
<body>
  <div class="auth-wrapper">
      <form action="/signin" method="post" >
        <img src ="/images/logo.svg" height='42'>


        {%include "partials/flash.njk" %}
        <input type="email" name="email" placeholder="Seu E-mail">
        <input type="password" name="password" placeholder="Senha">



        <button type="submit">Logar </button>

        <a href="/signup">Criar conta gratis </a>
      </form>
  </div>
  </body>
</html>

